<div class="antialiased bg-white text-gray-900 tracking-tight">
  <div class="flex flex-col min-h-screen overflow-hidden">
    <main class="flex-grow">
      <section class="relative">
        <div class="max-w-6xl mx-auto px-4 sm:px-6">
          <div class="pt-32 pb-12 md:pt-40 md:pb-20">
            <div class="text-center pb-12 md:pb-16">
              <h1 class="text-5xl md:text-6xl font-extrabold leading-tight tracking-tighter mb-4">Sàn đấu giá trực tuyến
                <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-gray-400">cho Người
                  Việt</span>
              </h1>
              <div class="max-w-3xl mx-auto">
                <p class="text-xl text-gray-600 mb-8">
                  Cung cấp một hệ thống bán đấu giá hiện đại qua internet, kết nối dễ dàng giữa người bán và người mua,
                  cùng với khả năng truy cập không giới hạn.
                </p>
                <div class="max-w-xs mx-auto sm:max-w-none sm:flex sm:justify-center">
                  <div class="space-y-4 md:space-y-0 md:space-x-2">
                    <a mat-flat-button color="primary" class="w-full mb-4 sm:w-auto sm:mb-0" routerLink="/">Trang quản
                      trị</a>
                    <a mat-stroked-button color="primary" class="w-full sm:w-auto sm:ml-4" routerLink="/">Tìm hiểu
                      thêm</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
