<h1 mat-dialog-title class="uppercase font-semibold" align="center">Cập nhật người dùng</h1>
<mat-spinner class="block mx-auto" *ngIf="findOneUserStatus === StoreStatus.LOADING; else userLoaded"></mat-spinner>
<ng-template #userLoaded>
  <form [formGroup]="updateUserForm" *ngIf="findOneUserStatus === StoreStatus.SUCCESS; else userNotLoaded">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Họ tên</mat-label>
      <input type="text" formControlName="fullName" matInput
        [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <mat-error *ngIf="updateUserForm.controls.fullName.errors?.required; else fullNameMinLength">
        Họ tên là <strong>bắt buộc</strong>
      </mat-error>
      <ng-template #fullNameMinLength>
        <mat-error *ngIf="updateUserForm.controls.fullName.errors?.minlength; else fullNameMaxLength">
          Họ tên phải <strong>ít nhất 3 kí tự</strong>
        </mat-error>
      </ng-template>
      <ng-template #fullNameMaxLength>
        <mat-error *ngIf="updateUserForm.controls.fullName.errors?.maxlength">
          Họ tên <strong>không vượt quá 50 kí tự</strong>
        </mat-error>
      </ng-template>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Địa chỉ email mới</mat-label>
      <input type="text" matInput formControlName="email" [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <mat-error *ngIf="updateUserForm.controls.email.errors?.required; else isEmail">
        Địa chỉ email là <strong>bắt buộc</strong>
      </mat-error>
      <ng-template #isEmail>
        <mat-error *ngIf="updateUserForm.controls.email.errors?.email">
          Địa chỉ email <strong>phải hợp lệ</strong>
        </mat-error>
      </ng-template>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Ngày sinh</mat-label>
      <input formControlName="birthdate" matInput [max]="maxBirthdate" [matDatepicker]="datePickerBirthdate"
        [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <mat-datepicker-toggle matSuffix [for]="datePickerBirthdate"></mat-datepicker-toggle>
      <mat-datepicker #datePickerBirthdate></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Địa chỉ liên lạc</mat-label>
      <input type="text" formControlName="address" matInput
        [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <mat-error *ngIf="updateUserForm.controls.address.errors?.required; else addressMinLength">
        Địa chỉ liên lạc là <strong>bắt buộc</strong>
      </mat-error>
      <ng-template #addressMinLength>
        <mat-error *ngIf="updateUserForm.controls.address.errors?.minlength; else addressMaxLength">
          Địa chỉ liên lạc phải <strong>ít nhất 3 kí tự</strong>
        </mat-error>
      </ng-template>
      <ng-template #addressMaxLength>
        <mat-error *ngIf="updateUserForm.controls.address.errors?.maxlength">
          Địa chỉ liên lạc <strong>không vượt quá 200 kí tự</strong>
        </mat-error>
      </ng-template>
    </mat-form-field>
    <mat-slide-toggle formControlName="banned">Cấm tài khoản</mat-slide-toggle>
  </form>
</ng-template>
<ng-template #userNotLoaded>
  <p class="text-center">Không có thông tin</p>
</ng-template>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onClose()" [disabled]="updateUserStatus === StoreStatus.LOADING">Hủy</button>
  <button mat-button (click)="onUpdateUserSubmit()" [disabled]="updateUserStatus === StoreStatus.LOADING">
    Xác nhận
  </button>
</div>
