<div class="antialiased text-gray-900 tracking-tight bg-no-repeat bg-cover"
  style="background-image: url('assets/img/home-bg.jpg');">
  <div class="flex flex-col overflow-hidden">
    <section class="relative">
      <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-24 pb-10 md:pt-18 md:pb-8">
          <div class="text-center pb-12 md:pb-16">
            <h1 class="text-5xl md:text-6xl font-extrabold leading-tight tracking-tighter mb-4">Sàn đấu giá trực
              tuyến cho Người Việt
            </h1>
            <div class="max-w-3xl mx-auto">
              <p class="text-xl text-gray-600 mb-8">
                Cung cấp một hệ thống bán đấu giá hiện đại qua internet, kết nối dễ dàng giữa người bán và người
                mua,
                cùng với khả năng truy cập không giới hạn.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="my-8 p-10">
  <div class="my-8">
    <p class="font-bold text-2xl text-center uppercase my-2">Top 5 sản phẩm sắp kết thúc</p>
    <app-product-list [loading]="(findTopEndProductsStatus$ | async) === StoreStatus.LOADING"
      [productList]="(topEndProducts$ | async) || []"></app-product-list>
  </div>
  <div class="my-8">
    <p class="font-bold text-2xl text-center uppercase my-2">Top 5 sản phẩm có nhiều lượt ra giá nhất</p>
    <app-product-list [loading]="(findTopBidProductsStatus$ | async) === StoreStatus.LOADING"
      [productList]="(topBidProducts$ | async) || []"></app-product-list>
  </div>
  <div class="my-8">
    <p class="font-bold text-2xl text-center uppercase my-2">Top 5 sản phẩm có giá cao nhất</p>
    <app-product-list [loading]="(findTopPriceProductsStatus$ | async) === StoreStatus.LOADING"
      [productList]="(topPriceProducts$ | async) || []"></app-product-list>
  </div>
</div>
