<ng-container *ngrxLet="product$ as product">
  <ng-container *ngrxLet="currentUser$ as currentUser">
    <ng-container *ngIf="product; else notLoadedProduct">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="md:col-span-3">
          <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
            <mat-tab label="Thông tin">
              <div class="m-4 p-4 rounded shadow-sm bg-gray-200">
                <quill-view-html [content]="product.description"></quill-view-html>
              </div>
            </mat-tab>
            <mat-tab label="Hình ảnh">
              <div class="m-4 p-4 rounded shadow-sm bg-gray-200">
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                  <div class="my-2 aspect-w-1 aspect-h-1"
                    *ngFor="let image of product.images; index as i; trackBy: trackProduct">
                    <img class="object-cover" [src]="image" [alt]="product.name" loading="lazy">
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Đấu giá">
              <div class="m-4 p-4 rounded shadow-sm bg-gray-200">
                <ng-container *ngIf="currentUser; else guestUser">
                  <div *ngIf="product.ended; else isAuthor">
                    <div class="my-4">
                      <p class="text-center my-2 font-medium">Lịch sử đấu giá</p>
                      <div class="overflow-x-auto">
                        <ng-container *ngIf="bidDataSource">
                          <table class="w-full" mat-table [dataSource]="bidDataSource">
                            <ng-container matColumnDef="_id">
                              <th mat-header-cell *matHeaderCellDef>Id</th>
                              <td mat-cell *matCellDef="let element">{{ element.bidder._id }}</td>
                            </ng-container>
                            <ng-container matColumnDef="fullName">
                              <th mat-header-cell *matHeaderCellDef>Tên</th>
                              <td mat-cell *matCellDef="let element">{{ element.bidder.fullName }}</td>
                            </ng-container>
                            <ng-container matColumnDef="point">
                              <th mat-header-cell *matHeaderCellDef>Điểm</th>
                              <td mat-cell *matCellDef="let element">{{ element.bidder.point }}</td>
                            </ng-container>
                            <ng-container matColumnDef="price">
                              <th mat-header-cell *matHeaderCellDef>Giá</th>
                              <td mat-cell *matCellDef="let element">{{ element.price | currency:'VND' }}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="bidHistoryListColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: bidHistoryListColumns;"></tr>
                          </table>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                  <ng-template #isAuthor>
                    <div *ngIf="currentUser._id === product.seller._id; else isAdmin">
                      <div class="my-4">
                        <p class="text-center my-2 font-medium">Danh sách người dùng bị từ chối ra giá</p>
                        <div class="overflow-x-auto">
                          <ng-container *ngIf="blacklistDataSource">
                            <table class="w-full" mat-table [dataSource]="blacklistDataSource">
                              <ng-container matColumnDef="_id">
                                <th mat-header-cell *matHeaderCellDef>Id</th>
                                <td mat-cell *matCellDef="let element">{{ element._id }}</td>
                              </ng-container>
                              <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef>Tên</th>
                                <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
                              </ng-container>
                              <ng-container matColumnDef="point">
                                <th mat-header-cell *matHeaderCellDef>Điểm</th>
                                <td mat-cell *matCellDef="let element">{{ element.point }}</td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="blackWhiteListColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: blackWhiteListColumns;"></tr>
                            </table>
                          </ng-container>
                        </div>
                      </div>
                      <div class="my-4">
                        <p class="text-center my-2 font-medium">Danh sách người dùng đã được cho phép ra giá</p>
                        <div class="overflow-x-auto">
                          <ng-container *ngIf="whitelistDataSource">
                            <table class="w-full" mat-table [dataSource]="whitelistDataSource">
                              <ng-container matColumnDef="_id">
                                <th mat-header-cell *matHeaderCellDef>Id</th>
                                <td mat-cell *matCellDef="let element">{{ element._id }}</td>
                              </ng-container>
                              <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef>Tên</th>
                                <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
                              </ng-container>
                              <ng-container matColumnDef="point">
                                <th mat-header-cell *matHeaderCellDef>Điểm</th>
                                <td mat-cell *matCellDef="let element">{{ element.point }}</td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="blackWhiteListColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: blackWhiteListColumns;"></tr>
                            </table>
                          </ng-container>
                        </div>
                      </div>
                      <div class="my-4">
                        <p class="text-center my-2 font-medium">Danh sách người dùng cần phê duyệt để ra giá</p>
                        <div class="overflow-x-auto">
                          <ng-container *ngIf="requestedUsersDataSource">
                            <table class="w-full" mat-table [dataSource]="requestedUsersDataSource">
                              <ng-container matColumnDef="_id">
                                <th mat-header-cell *matHeaderCellDef>Id</th>
                                <td mat-cell *matCellDef="let element">{{ element._id }}</td>
                              </ng-container>
                              <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef>Tên</th>
                                <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
                              </ng-container>
                              <ng-container matColumnDef="point">
                                <th mat-header-cell *matHeaderCellDef>Điểm</th>
                                <td mat-cell *matCellDef="let element">{{ element.point }}</td>
                              </ng-container>
                              <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="w-32">Tùy chọn</th>
                                <td mat-cell *matCellDef="let element">
                                  <button mat-icon-button (click)="onApproveBid(element._id, true)"
                                    [disabled]="(approveBidStatus$ | async) === StoreStatus.LOADING">
                                    <mat-icon matTooltip="Cho phép">check</mat-icon>
                                  </button>
                                  <button mat-icon-button (click)="onApproveBid(element._id, false)"
                                    [disabled]="(approveBidStatus$ | async) === StoreStatus.LOADING">
                                    <mat-icon matTooltip="Từ chối">close</mat-icon>
                                  </button>
                                </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="bidderListColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: bidderListColumns;"></tr>
                            </table>
                          </ng-container>
                        </div>
                      </div>
                      <div class="my-4">
                        <p class="text-center my-2 font-medium">Danh sách người dùng đã ra giá thành công</p>
                        <div class="overflow-x-auto">
                          <ng-container *ngIf="bidDataSource">
                            <table class="w-full" mat-table [dataSource]="bidDataSource">
                              <ng-container matColumnDef="_id">
                                <th mat-header-cell *matHeaderCellDef>Id</th>
                                <td mat-cell *matCellDef="let element">{{ element.bidder._id }}</td>
                              </ng-container>
                              <ng-container matColumnDef="fullName">
                                <th mat-header-cell *matHeaderCellDef>Tên</th>
                                <td mat-cell *matCellDef="let element">{{ element.bidder.fullName }}</td>
                              </ng-container>
                              <ng-container matColumnDef="point">
                                <th mat-header-cell *matHeaderCellDef>Điểm</th>
                                <td mat-cell *matCellDef="let element">{{ element.bidder.point }}</td>
                              </ng-container>
                              <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef class="w-32">Tùy chọn</th>
                                <td mat-cell *matCellDef="let element">
                                  <button mat-icon-button (click)="onDenyBid(element.bidder._id)"
                                    [disabled]="((denyBidStatus$ | async) === StoreStatus.LOADING) || (product.blacklist | userInArray:element.bidder)">
                                    <mat-icon matTooltip="Từ chối">close</mat-icon>
                                  </button>
                                </td>
                              </ng-container>
                              <tr mat-header-row *matHeaderRowDef="bidderListColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: bidderListColumns;"></tr>
                            </table>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #isAdmin>
                    <div *ngIf="currentUser.role === Role.ADMIN; else blacklisted">
                      <p>Quản trị viên không thể tham gia đấu giá</p>
                    </div>
                  </ng-template>
                  <ng-template #blacklisted>
                    <div *ngIf="product.blacklist | userInArray:currentUser; else noRating">
                      <p>Bạn đã bị người bán từ chối ra giá và không thể tham gia đấu giá nữa</p>
                    </div>
                  </ng-template>
                  <ng-template #noRating>
                    <div
                      *ngIf="!currentUser.ratings?.length && !(product.whitelist | userInArray:currentUser); else canBid">
                      <p>Bạn có thể tham gia đấu giá sau khi được người bán cho phép</p>
                      <button class="!mt-2" mat-flat-button color="primary" (click)="onRequestBid()"
                        *ngIf="!(product.requestedUsers | userInArray:currentUser); else pendingRequest"
                        [disabled]="(requestBidStatus$ | async) === StoreStatus.LOADING">Yêu cầu đấu
                        giá</button>
                      <ng-template #pendingRequest>
                        <p>Bạn đã yêu cầu ra giá, vui lòng đợi người bán phê duyệt</p>
                      </ng-template>
                    </div>
                  </ng-template>
                  <ng-template #canBid>
                    <div class="m-4 p-4 shadow-sm bg-white rounded">
                      <div class="my-2">
                        <p>Giá khởi điểm: <strong>{{ product.startingPrice | currency:'VND' }}</strong></p>
                        <p>Bước giá: <strong>{{ product.priceStep| currency:'VND' }}</strong></p>
                        <p>Giá hiện tại: <strong>{{ product.displayPrice| currency:'VND' }}</strong></p>
                        <ng-container *ngIf="product.winner; else noWinner">
                          <p>Người hiện tại đặt giá cao nhất: <strong>{{ product.winner.fullName }} ({{
                              product.winner.point }} điểm)</strong></p>
                        </ng-container>
                        <ng-template #noWinner>
                          <p>Hãy là người đầu tiên đặt mua sản phẩm này</p>
                        </ng-template>
                        <p>Đấu giá tự động: Giá tiền mà bạn có thể đặt là từ <strong>{{ minBidPrice | currency:'VND'
                            }}</strong> trở lên,
                          bạn có thể đưa ra số tiền tối đa mà mình có thể mua và hệ thống sẽ tự điều chỉnh mức giá phù
                          hợp
                        </p>
                      </div>
                      <form [formGroup]="createBidForm" (ngSubmit)="onCreateBidSubmit()"
                        *ngrxLet="createBidStatus$ as createBidStatus">
                        <mat-form-field appearance="outline" class="w-full">
                          <mat-label>Mức giá tối đa bạn có thể trả</mat-label>
                          <input type="text" formControlName="price" matInput
                            [disabledControl]="createBidStatus === StoreStatus.LOADING">
                          <mat-error *ngIf="createBidForm.controls.price.errors?.required; else bidPriceMin">
                            Mức giá là <strong>bắt buộc</strong>
                          </mat-error>
                          <ng-template #bidPriceMin>
                            <mat-error *ngIf="createBidForm.controls.price.errors?.min; else bidPriceMax">
                              Mức giá tối thiểu cho sản phẩm này là <strong>{{ minBidPrice | currency:'VND' }}</strong>
                            </mat-error>
                          </ng-template>
                          <ng-template #bidPriceMax>
                            <mat-error *ngIf="createBidForm.controls.price.errors?.max">
                              Mức giá tối đa cho sản phẩm này là <strong>đ100,000,000,000</strong>
                            </mat-error>
                          </ng-template>
                        </mat-form-field>
                        <div class="flex my-2">
                          <div class="ml-auto">
                            <button type="submit" mat-flat-button color="primary"
                              [disabled]="createBidStatus === StoreStatus.LOADING">Ra giá</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-template #guestUser>
                  <p>Hãy <a routerLink="/auth/sign-in" class="text-indigo-600 hover:text-indigo-500">đăng nhập</a> để
                    có thể đấu giá</p>
                </ng-template>
              </div>
            </mat-tab>
            <mat-tab label="Cập nhật" *ngIf="currentUser?._id === product.seller._id">
              <div class="m-4 p-4 shadow-sm">
                <form [formGroup]="updateProductForm" (ngSubmit)="onUpdateProductSubmit()"
                  *ngrxLet="updateProductStatus$ as updateProductStatus">
                  <quill-editor formControlName="description"
                    placeholder="Cập nhật mô tả cho sản phẩm (từ 10 đến 10,000 kí tự)..." [styles]="{height: '450px'}"
                    [required]="true" [minLength]="10" [maxLength]="10000"
                    [disabledControl]="updateProductStatus === StoreStatus.LOADING"></quill-editor>
                  <div class="flex my-2">
                    <div class="ml-auto">
                      <button type="submit" mat-flat-button color="primary"
                        [disabled]="updateProductStatus === StoreStatus.LOADING">Cập nhật</button>
                    </div>
                  </div>
                </form>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div>
          <mat-card class="mat-elevation-z0">
            <mat-card-header>
              <mat-card-title>{{ product.name }}</mat-card-title>
              <mat-card-subtitle>{{ product.category.name }} - {{ product.category.subName }}
              </mat-card-subtitle>
            </mat-card-header>
            <div class="my-2 aspect-w-1 aspect-h-1">
              <img class="object-cover block !mx-auto" mat-card-image [src]="product.images[0]" [alt]="product.name"
                loading="lazy">
            </div>
            <mat-card-content>
              <p>Giá hiện tại: <strong>{{ product.displayPrice| currency:'VND' }}</strong></p>
              <ng-container *ngIf="product.winner; else noWinner">
                <p>Người thắng: <strong>{{ product.winner.fullName }} ({{ product.winner.point }} điểm)</strong></p>
              </ng-container>
              <ng-template #noWinner>
                <p>Người thắng: <strong>Không có</strong></p>
              </ng-template>
              <p>Mua ngay: <strong>{{ product.buyPrice ? (product.buyPrice | currency:'VND') : 'Không có' }}</strong>
              </p>
              <p>Đã đăng: <strong>{{ product.createdAt | relativeTime:'259200000' }}</strong></p>
              <p>Hết hạn: <strong>{{ product.expiry | relativeTime:'259200000' }}</strong></p>
              <p>Lượt ra giá: <strong>{{ product.bidCount }}</strong></p>
              <p>Được bán bởi: <strong>{{ product.seller.fullName }} ({{ product.seller.point }} điểm)</strong></p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button>
                <mat-icon>favorite_border</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          <div class="mt-4">
            <p class="text-center font-medium uppercase">Các sản phẩm cùng chuyên mục</p>
            <app-product-list [productList]="(relatedProduct$ | async) || []"
              [loading]="(findRelatedProductsStatus$ | async) === StoreStatus.LOADING" [minimal]="true"
              [transparent]="true">
            </app-product-list>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #notLoadedProduct>
      <ng-container *ngIf="(findOneProductStatus$ | async) === StoreStatus.LOADING; else noProduct">
        <mat-spinner class="block mx-auto"></mat-spinner>
      </ng-container>
      <ng-template #noProduct>
        <p class="text-center">Không có sản phẩm</p>
      </ng-template>
    </ng-template>
  </ng-container>
</ng-container>
