<h1 mat-dialog-title class="uppercase font-semibold" align="center">Đổi mật khẩu</h1>
<div mat-dialog-content>
  <div [formGroup]="updatePasswordForm">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Mật khẩu hiện tại</mat-label>
      <input type="password" matInput formControlName="currentPassword"
        [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <mat-error *ngIf="updatePasswordForm.controls.currentPassword.errors?.required">
        Mật khẩu hiện tại là <strong>bắt buộc</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Mật khẩu</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput
        [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword"
        [disabled]="updateUserStatus === StoreStatus.LOADING">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="updatePasswordForm.controls.password.errors?.required; else passwordMinLength">
        Mật khẩu là <strong>bắt buộc</strong>
      </mat-error>
      <ng-template #passwordMinLength>
        <mat-error *ngIf="updatePasswordForm.controls.password.errors?.minlength; else passwordMaxLength">
          Mật khẩu phải <strong>ít nhất 8 kí tự</strong>
        </mat-error>
      </ng-template>
      <ng-template #passwordMaxLength>
        <mat-error *ngIf="updatePasswordForm.controls.password.errors?.maxlength; else passwordPattern">
          Mật khẩu <strong>không vượt quá 128 kí tự</strong>
        </mat-error>
      </ng-template>
      <ng-template #passwordPattern>
        <mat-error *ngIf="updatePasswordForm.controls.password.errors?.pattern">
          Mật khẩu phải <strong>chứa ít nhất một chữ hoa, một chữ thường và một số</strong>
        </mat-error>
      </ng-template>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Xác nhận mật khẩu</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" matInput
        [disabledControl]="updateUserStatus === StoreStatus.LOADING">
      <mat-error *ngIf="updatePasswordForm.controls.confirmPassword.errors?.required; else passwordMatches">
        Xác nhận mật khẩu là <strong>bắt buộc</strong>
      </mat-error>
      <ng-template #passwordMatches>
        <mat-error *ngIf="updatePasswordForm.controls.confirmPassword.errors?.controlMatches">
          Mật khẩu phải <strong>trùng khớp</strong>
        </mat-error>
      </ng-template>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onClose()" [disabled]="updateUserStatus === StoreStatus.LOADING">Hủy</button>
  <button mat-button (click)="onUpdatePasswordSubmit()" [disabled]="updateUserStatus === StoreStatus.LOADING">Xác
    nhận</button>
</div>
